{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="background-image:url('https://images.unsplash.com/photo-1516731415730-0c607149933a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); background-repeat: repeat-y; background-size: auto;">

  <div class="jumbotron" style="background:#7f7f7f;background:rgba(255,255,255,0.65); color:'black'">
    <h1>Query game information about a venue.</h1>
    <p>Enter the name of the venue with the form below:</p>
    <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.submit() }}
    </form>
    <br>

    {% if cannot_find %}

    <h3>Sorry, cannot find information about this venue.</h3>

    {% endif %}

    {% if flag_exist %}

      <h3>Here is the result: </h3> <br>
      <ul>

        {% for i in venue_info %}

          <li>Home: <span style="color:#4C0099;font-family:'Alef';"><em>{{i[0]}}</em></span> <span style="color:#FF0000"><b>VS</b></span> Away: <span style="color:#006633;font-family:'Alef';"><em>{{i[1]}}</em></span> <br>
              Date: {{venue_info[i][0]}} <br>
              Winner: {{venue_info[i][1]}} <br>
              Home sore: runs: {{venue_info[i][2]}}, errors: {{venue_info[i][3]}}, hits: {{venue_info[i][4]}} <br>
              Away sore: runs: {{venue_info[i][5]}}, errors: {{venue_info[i][6]}}, hits: {{venue_info[i][7]}} <br>
              Weather: {{venue_info[i][8]}} <br>
              Day or Night: {{venue_info[i][9]}} <br> <br>
          </li>

        {% endfor %}

      </ul>

    {% endif %}
  </div>

  <div class="jumbotron" style="background:#7f7f7f;background:rgba(255,255,255,0.65); color:'black'">
    <h2>All venues in our database:</h2>
    <ul>
      {% for j in venues %}
      <li>{{j}}</li>
      {% endfor %}
    </ul>

  </div>


</div>
{% endblock %}
